@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Bold.woff2") format("woff2"),
    url("./fonts/GothamPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro-Black.woff2") format("woff2"),
    url("./fonts/GothamPro-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@keyframes spreadBg {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.ark {
  --theme-primary: #0b1820;
  --theme-background: #ffffff;
  line-height: normal;
}

[data-theme="dark"] .ark {
  --theme-primary: #ffffff;
  --theme-background: #0b1820;
}

.ark.button {
  padding: 0.5rem 5rem 0.5rem 2rem;
  text-align: start;
  font-weight: 800;
  background: var(--theme-background);
  color: var(--theme-primary);
  border: unset;

  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  width: 100%;
}

.ark.button.primary {
  color: var(--theme-background);
  background: var(--theme-primary);
}

.ark.button::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.25rem;
  height: 100%;
  top: 0px;
  left: 0px;
  background: var(--theme-primary);
}

.ark.button.primary::before {
  background: var(--theme-background);
}

.ark.button:hover {
  color: var(--theme-background);
  animation: 0.5s spreadBg cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background: linear-gradient(90deg, var(--theme-primary) 0 50%, var(--theme-background) 50% 100%);
  background-size: 200% 100%;
}

.ark.button.primary:hover {
  color: var(--theme-primary);
  animation: 0.5s spreadBg cubic-bezier(0.23, 1, 0.32, 1) forwards;
  background: linear-gradient(90deg, var(--theme-background) 0 50%, var(--theme-primary) 50% 100%);
  background-size: 200% 100%;
}

input[type="text"].ark {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;

  font-size: 1.2rem;
  font-weight: 800;

  color: var(--theme-primary);
  background-color: transparent;

  border: 3px solid transparent;
  --border-length: 1rem;
  background: linear-gradient(var(--theme-background), var(--theme-background)) padding-box,
    linear-gradient(90deg,
      var(--theme-primary) 0,
      var(--theme-primary) var(--border-length),
      transparent var(--border-length),
      transparent calc(100% - var(--border-length)),
      var(--theme-primary) calc(100% - var(--border-length)),
      var(--theme-primary) 100%) border-box;

  outline: none;
}

input[type="text"].ark:focus {
  color: var(--theme-primary);
  border: 3px solid transparent;

  outline: none;
}

select.ark {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;

  font-size: 1.2rem;
  font-weight: 800;

  color: var(--theme-primary);
  background-color: transparent;

  border: 3px solid transparent;
  --border-length: 1rem;
  background: linear-gradient(var(--theme-background), var(--theme-background)) padding-box,
    linear-gradient(90deg,
      var(--theme-primary) 0,
      var(--theme-primary) var(--border-length),
      transparent var(--border-length),
      transparent calc(100% - var(--border-length)),
      var(--theme-primary) calc(100% - var(--border-length)),
      var(--theme-primary) 100%) border-box;

  outline: none;
}